{
  "root": true,
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "node": true,
    "browser": false
  },
  "rules": {
    "react/prefer-stateless-function": [
      0
    ],
    "import/extensions": [
      0
    ],
    "import/no-extraneous-dependencies": [
      2,
      {
        "devDependencies": true,
        "optionalDependencies": true
      }
    ],
    "no-underscore-dangle": [
      2,
      {
        "allowAfterThis": true
      }
    ]
  }
}